@charset "UTF-8";

:root {
    --column-space: 2em;
    --grid-cell-length: 40px;
    --uncollected-opacity: 0.35;
    --tracker-font-size: 140%;
}

[hidden] {
    display: none !important;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

.dark {
    background-color: black;
    color: white;
}

.dark a {
    filter: invert(100%);
}

main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    justify-items: center;
    width: 100%;
}

.column {
    flex: 1;
}

.column-inner {
    width: max-content;
}

#settings {
    width: max-content;
    line-height: 2;
}

#save-load {
    display: flex;
    justify-content: space-between;
}

#save-load-settings {
    text-align: right;
}

input[type="number"] {
   width: 7ch;
}

.tracker {
    display: grid;
    grid-gap: 8px 8px;
    grid-auto-rows: var(--grid-cell-length);
    width: max-content;
    align-items: center;
    justify-items: center;
}

.image-box {
    display: flex;
    width: 100%;
    height: 100%;
    border-style: hidden;
    border-width: 2px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.image-box.boxes.collected {
    border-style: solid;
    border-color: black;
}

.dark .image-box.boxes.collected {
    border-color: white;
}

#tracker-column {
    font-size: var(--tracker-font-size);
}


#timer {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 300%;
}

#timer-ms {
    font-size: 75%;
}

#upgrade-tracker {
    grid-template-rows: repeat(4, var(--grid-cell-length));
    grid-template-columns: repeat(7, var(--grid-cell-length));
}

.upgrade {
    opacity: var(--uncollected-opacity);
}
.upgrade.collected {
    opacity: 1;
}

#expansion-tracker {
    grid-template-columns: var(--grid-cell-length) 10.5ch auto;
}

.count-text {
    justify-self: start;
}

.percentage-text {
    justify-self: start;
}

#key-tracker-individual {
    grid-template-columns: max-content repeat(3, var(--grid-cell-length));
}

.key {
    opacity: var(--uncollected-opacity);
}
.key.collected {
    opacity: 1;
}

.key-label {
    justify-self: end;
}

#key-tracker-numeric {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}

.key-numeric-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.key-numeric-entry {
    grid-template-columns: repeat(2, max-content);
}